{% extends 'layouts/menu-lateral.html' %}
{% block titulo %} Municipios {% endblock %}
{% block breve_descripcion %}Gestionar Municipios{% endblock %}
{% block listar_municipio %}"active"{%endblock%}
{%block open_gestor%}open{%endblock%}
{% block content %}
<div class="widget widget-table">
    <div class="widget-header">
        <h3><i class="fa fa-table"></i> Municipios</h3>
        <div class="pull-right">
            <a class="btn btn-success"  href="{% url 'crear_municipios' %}"><i class="fa fa-plus fa fa-white"></i> <strong>Añadir Municipio</strong></a>
        </div>
    </div>
    <div class="widget-content">
        <table id="featured-datatable" class="table table-sorting table-striped table-hover datatable">
            <thead>
                <tr>
                    <th>Municipio</th>
                    <th>Código del Municipio</th>
                    <th>Provincia</th>
                    <th>Acciones</th>
                    
                </tr>
            </thead>
            <tbody>
            {% for municipio in municipio %}    
                <tr>
                    <td>{{ municipio.nom_municipio }}</td>
                    <td>{{ municipio.codigo_municipio }}</td>
                    <td>{{ municipio.provinciaMunicipioPertenece }}</td>
                    <td>

                        <a href="/editar_municipio?id={{municipio.id}}"
                           title="Editar" role="button" class="btn btn-xs  btn-success "
                           data-toggle="modal"><i class="fa fa-edit fa fa-white"></i>
                        </a>
                        
                        <a href="#{{municipio.id}}" title="Borrar"
                           role="button" class="btn btn-xs  btn-danger "
                           data-toggle="modal"><i class="fa fa-trash fa fa-white"></i>
                        </a>
                        
                        <div id="{{municipio.id}}" class="modal" style="display: none;" tabindex="-1"  aria-labelledby="myModalLabel" data-placement="bottom" aria-hidden="true" >
                        <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 id="myModalLabel">Confirmación de Eliminación</h4>
                        </div>
                        <div class="modal-body">
                        <p>Confirme que quiere eliminar el estudiante "{{entity.Nombre}} {{entity.primer_apellido}} {{entity.segundo_Apellido}}"</p>
                        </div>
                        <div class="modal-footer">
                        <a rel="tooltip"  class="btn   btn-danger" href="/eliminar_estudiante?id_reporte={{entity.id}}"><i class="fa fa-trash fa fa-white"></i> Aceptar</a>
                        <button class="btn  btn-success" data-dismiss="modal" ><i class="fa fa-share fa fa-white"></i> Cancelar</button>
                        </div>
                        </div>
                        </div>
                        </div>
                        
                        </td>
                    
                </tr>
            {% endfor %}   
            </tbody>
        </table>
    </div>
</div>
{% endblock %}